Options +FollowSymLinks
Options All -Indexes

<Files ~ "(.env|cli|.gitignore)">
order allow,deny
deny from all
</Files>

ErrorDocument 403 /error/404

RewriteEngine On

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule .* index.php/$0 [PT,QSA,L]
